<div class="navbar_div">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="nav_logo visible-sm visible-xs">
      <img src="assets/images/logo-fav.png" alt="My Treatment Time" />
    </div>
    <button class="navbar-toggler" type="button" (click)="toggle_navbar()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div *ngIf="search_box_flag" class="search_input d-none d-md-inline-flex">
      <i class="fa fa-search"></i>
      <input
        type="text"
        placeholder="Search by hospital..."
        name="search_text"
        id="search_text"
        [(ngModel)]="search"
        (keyup)="search_hospital()"
      />
      <span>
        <img
          [class]="locator ? 'gps-locator-active' : 'gps-locator'"
          id="gps_locator"
          (click)="search_nearby()"
          title="Hospital within radius of 10 miles"
          src="assets/images/locator.jpg"
        />
      </span>
    </div>

    <div class="" id="navbarNav">
      <ul class="navbar-nav">
        <li class="d-inline-flex d-md-none">
          <div *ngIf="search_box_flag" class="search_div">
            <div class="dropdown show">
              <a
                class="btn btn-secondary dropdown-toggle"
                href="javascript:void(0)"
                role="button"
                (click)="openSearchForm()"
                id="dropdownMenuLink2"
              >
                <i class="fas fa-search"></i>
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink2">
                <div *ngIf="search_box_flag" class="search_input">
                  <i class="fa fa-search"></i>
                  <input
                    type="text"
                    placeholder="Search by hospital..."
                    name="search_text"
                    id="search_text"
                    [(ngModel)]="search"
                    (keyup)="search_hospital()"
                  />
                  <span>
                    <img
                      [class]="locator ? 'gps-locator-active' : 'gps-locator'"
                      id="gps_locator"
                      (click)="search_nearby()"
                      title="Hospital within radius of 10 miles"
                      src="assets/images/locator.jpg"
                    />
                  </span>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li>
          <div *ngIf="search_box_flag" class="filter_div">
            <div class="dropdown show">
              <a
                class="btn btn-secondary dropdown-toggle"
                href="javascript:void(0)"
                role="button"
                (click)="openFilterForm()"
                id="dropdownMenuLink"
              >
                <i class="fas fa-filter"></i>
                <span *ngIf="filter_count > 0" class="badge badge-primary">{{
                  filter_count
                }}</span>
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <div *ngIf="filters" class="form-group">
                  <label>City:</label>
                  <select class="select_filters" [(ngModel)]="filter_city">
                    <option value="" selected>Select city...</option>
                    <option
                      *ngFor="let item of filters.city"
                      [value]="item.city"
                    >
                      {{ item.city }}
                    </option>
                  </select>
                </div>
                <div *ngIf="filters" class="form-group">
                  <label>State:</label>
                  <select class="select_filters" [(ngModel)]="filter_state">
                    <option value="" selected>Select state...</option>
                    <option
                      *ngFor="let item of filters.state"
                      [value]="item.state"
                    >
                      {{ item.state }}
                    </option>
                  </select>
                </div>

                <div class="dropdown-divider"></div>
                <div class="btn_group">
                  <button
                    [disabled]="!filter_city && !filter_state"
                    class="btn filter_btn btn-sm site_btn"
                    type="button"
                    (click)="filter()"
                  >
                    Apply
                  </button>
                  <button
                    class="btn clr_filter_btn btn-sm site_btn"
                    type="button"
                    [disabled]="filter_count === 0"
                    (click)="clear_filters()"
                  >
                    Clear
                  </button>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="dropdown">
            <a
              href=""
              class="dropdown-toggle"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <div class="user_img">
                <img
                  [src]="
                    patient && patient.profile_pic
                      ? patient.profile_pic
                      : 'assets/images/user-placeholder.jpg'
                  "
                  alt="user"
                />
              </div>
              <span class="user_name">{{ patient && patient.first_name }}</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a
                *ngIf="patient"
                class="dropdown-item"
                [routerLink]="['/patient/profile', patient.id]"
                >Account</a
              >
              <!-- <a class="dropdown-item" href="#">Settings</a> -->
              <a
                class="dropdown-item"
                href="javascript:void(0)"
                (click)="logout()"
                >Logout</a
              >
            </div>
          </div>
        </li>
        <li class="nav-item active">
          <button (click)="logout()" class="nav-link btn btn-sm logout_nav_btn">
            <i class="fa fa-sign-out-alt"></i> Logout
          </button>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="menu_closer" (click)="toggle_navbar()"></div>

<!-- to be shown after click on filter button jquery -->
<!-- <ng-template #filter_form>
  <div class="filter_div">
    <div class="dropdown show">
      <a
        class="btn btn-secondary dropdown-toggle"
        href="#"
        role="button"
        id="dropdownMenuLink"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <i class="fas fa-filter"></i>
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <div class="form-group">
          <label>Location:</label>
          <input
            type="text"
            class="filter_location form-control"
            [(ngModel)]="filter_location"
            name="filter_location"
            placeholder="Enter location..."
          />
        </div>
        <div class="form-group">
          <label>City:</label>
          <input
            type="text"
            name="filter_city"
            class="filter_city form-control"
            [(ngModel)]="filter_city"
            placeholder="Enter city..."
          />
        </div>
        <div class="dropdown-divider"></div>
        <div class="btn_group">
          <button
            class="btn filter_btn btn-sm site_btn"
            type="button"
            (click)="filter()"
          >
            Apply
          </button>
          <button
            class="btn clr_filter_btn btn-sm site_btn"
            type="button"
            [disabled]="!filter_location && !filter_location"
            (click)="clear_filters()"
          >
            Clear
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template> -->
