<table id="patient_datatable" class="table table-bordered">
  <thead>
    <tr>
      <th class="no-sort">Picture</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Address</th>
      <th class="no-sort">Status</th>
      <th class="no-sort"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of patients; let i = index">
      <td>
        <img
          (click)="open(i)"
          class="profile_pic"
          [src]="item.profile_pic || 'assets/images/user-placeholder.png'"
          [alt]="item.name"
        />
      </td>
      <td>{{ item.name }}</td>
      <td>{{ item.email }}</td>
      <td>{{ item.phone }}</td>
      <td>{{ item.address }}</td>
      <td>
        <ng-container *ngIf="item.isActive">Active</ng-container>
        <ng-container *ngIf="!item.isActive">Inactive</ng-container>
      </td>
      <td>
        <a
          href="javascript:void(0)"
          (click)="deletePatient(item.id)"
          role="button"
        >
          Delete
        </a>
        <a
          href="javascript:void(0)"
          [routerLink]="['/admin/patient', item.id]"
          role="button"
        >
          View Details
        </a>
      </td>
    </tr>
  </tbody>
</table>
