body {
  font-family: "Montserrat", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

.admin_login_btn {
  border: 1px solid #ddd;
}

.admin_login_btn {
  border: 1px solid #ddd;
}
.login_page_wrap {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-image: url("src/assets/images/login_bg.jpg");
  /*padding: 40px 0;*/
}
.login_page_wrap > .container > .row {
  min-height: 100vh;
  padding: 40px 0;
}
.login_left {
  color: #fff;
}
.login_right {
    background: #fff;
    padding: 40px 60px;
    border-radius: 10px;
    border-bottom: 5px solid #602dfd;
    min-height: 500px;
}
.login_right h2 {
  text-align: center;
  color: #2a2d36;
  position: relative;
  font-weight: 600;
  margin: 0 0 20px;
  padding: 0 0 15px;
}
.login_right h2:after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 60px;
  height: 2px;
  background: #744de9;
  margin: 0 auto;
}
.login_right h5 {
  text-align: center;
  font-size: 16px;
  color: #666;
}
.admin_login_form_div {
  margin: 30px 0 0;
}
.admin_login_form_div input.form-control {
  height: 55px;
  border: 1px solid #d7d7d7;
}
.admin_login_btn {
  height: 48px;
  line-height: 48px;
  padding: 0 40px;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 13px;
  background: #5e29ff;
  background: -moz-linear-gradient(left, #5e29ff 1%, #7651e6 100%);
  background: -webkit-linear-gradient(left, #5e29ff 1%, #7651e6 100%);
  background: linear-gradient(to right, #5e29ff 1%, #7651e6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e29ff', endColorstr='#7651e6',GradientType=1 );
  color: #fff;
  display: block;
  min-width: 150px;
  margin: 0 auto;
  transition: all ease 0.4s;
  -webkit-transition: all ease 0.4s;
}
.admin_login_btn:hover {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7651e6+0,5e29ff+99 */
  background: #7651e6; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #7651e6 0%,
    #5e29ff 99%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #7651e6 0%,
    #5e29ff 99%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #7651e6 0%,
    #5e29ff 99%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7651e6', endColorstr='#5e29ff',GradientType=1 ); /* IE6-9 */
}
.login_left h4 {
  font-size: 18px;
  font-weight: normal;
}
.login_left h1 {
  font-size: 48px;
  font-weight: 600;
  margin: 0 0 15px;
}
.login_left p {
  font-size: 14px;
  line-height: 24px;
}
.admin_login_form_div .form-group i {
  position: absolute;
  top: 17px;
  right: 15px;
  height: 20px;
  display: block;
  width: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px auto;
}
.admin_login_form_div .form-group {
  position: relative;
}
.admin_login_form_div .form-group i.icon_email {
  background-image: url("src/assets/images/email.png");
}
.admin_login_form_div .form-group i.icon_password {
  background-image: url("src/assets/images/password.png");
  background-size: auto 17px;
}


.login_tabs .tab-content {
    /*min-height: 240px;*/
}
.login_tabs .nav-tabs {
    justify-content: center;
    border: 0;
    margin:0 0 15px;
}

.login_tabs .nav-tabs li a {
    font-size: 17px;
    font-weight: 700;
    /*font-weight: bold;*/
    color: #97989b;
    border:0px;
    padding: 2px 4px;
    border-bottom: 3px solid transparent;
}
.login_tabs .nav-tabs li a.active {
    color: #2a2d36;
    border-bottom-color: #693cf3;
}


ul.nav.nav-tabs .nav-item {
  border-right: 1px solid #d7d7d7;
  padding: 0 15px;
}
ul.nav.nav-tabs .nav-item:last-child {
    border-right: 0;
}
.login_tabs {
    font-family: 'Montserrat', sans-serif;
}


/*My Responsive style
  ==================================================================*/
@media (max-width: 1199px) {
}

@media (max-width: 1024px) {
}

@media (min-width: 992px) {
}

@media (max-width: 991px) {
  .login_left h1 {
    font-size: 36px;
  }
}

@media (max-width: 767px) {
  .login_left h1 {
    font-size: 32px;
  }
  .login_right h2 {
    font-size: 26px;
  }
  .login_left {
    margin: 0 0 30px;
  }
  .login_right {
    padding: 30px 30px;
  }
  ul.nav.nav-tabs .nav-item {
    border-right: 1px solid #d7d7d7;
    padding: 0 12px 0;
    margin: 0 0 5px;
}
.login_tabs .nav-tabs li a{
  font-size: 15px;
}
}
