<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
    <div class="panel panel-bd cardbox">
      <div class="panel-body">
        <div class="statistic-box">
          <h2>
            <span class="count-number"> {{ doctor_count }} </span>
          </h2>
        </div>
        <div class="items pull-left">
          <i class="fas fa-user-md"></i>
          <h4>Active Doctors</h4>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
    <div class="panel panel-bd cardbox">
      <div class="panel-body">
        <div class="statistic-box">
          <h2>
            <span class="count-number">5</span>
          </h2>
        </div>
        <div class="items pull-left">
          <i class="fas fa-procedures"></i>
          <h4>Active Patients</h4>
        </div>
      </div>
    </div>
  </div> -->

  <!-- <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
    <div class="panel panel-bd cardbox">
      <div class="panel-body">
        <div class="statistic-box">
          <h2>
            <span class="count-number">8</span>
          </h2>
        </div>
        <div class="items pull-left">
          <i class="fas fa-calendar"></i>
          <h4>Appointments</h4>
        </div>
      </div>
    </div>
  </div> -->
</div>

<!-- <div style="display: block;" class="bar_chart">
    <canvas
      baseChart
      [datasets]="labelMFL"
      [labels]="lineChartLabels"
      [options]="lineChartOptions"
      [chartType]="ChartType"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"
    ></canvas>
  </div> -->

<!-- <div style="display:block;" class="line_chart">
    <canvas
      baseChart
      [datasets]="labelMFL"
      [labels]="lineChartLabels"
      [options]="lineChartOptions"
      [chartType]="chartType2"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"
    ></canvas>
  </div> -->
